{
    "ignore": [
        "src/**/*.spec.ts",
        "src/**/*.test.ts",
        "src/interfaces/*",
        "src/models/*"
    ],
    "presets": ["@babel/preset-env", "@babel/preset-typescript"],
    "sourceMaps": true
}
